html {
    padding: 5px;
}

body {
    border: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    line-height: 2;
    
    
}
form {
    display: none;
}
.fa-address-book{
    padding: 15px;
}
.show {
    display: block;
}

.sidenav {
    height: 100%;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    color: white;
    overflow-x: hidden;
    padding-top: 15%;   
}

.sidenav a {
    padding: 6px 0px 3px 10px;
    text-decoration: none;
    text-align: top;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: black;
}

.maindark {
    height: 100vh;
    background-image:  url(/bckg.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px; /*Same width of sidenav */
    font-size: 28px; /*Increased texct to enable scrolling */
    padding: 80px 80px;
    border: 20px solid white;
    overflow-y: auto;
    background-color: rgba(22,0,0,.9);
    background-blend-mode: multiply;
}

.light {
    height: 100vh;
    background-image:  url(/bckg.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px; /*Same width of sidenav */
    font-size: 28px; /*Increased texct to enable scrolling */
    padding: 80px 80px;
    border: 20px solid white;
    overflow-y: auto;
    background-color: rgba(22,0,0,.5);
    background-blend-mode: multiply;
}

.header {
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #056efa;
}

h1 {
    text-align: right;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 250px;
}

#content {
    text-align: left;
    font-size: 30px;
    color: black;
    margin-left: 75px;
}

print {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 15px;
    overflow-y: scroll;
}